html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    @media screen and (prefers-reduced-motion: reduce) {

        scroll-behavior: auto; /* Fall back to instant jumping */

    }
}

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222323;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1920px;
    width: fit-content;
    margin-inline: auto;
    background-color: white;

    @media (width <= 800px) {
        flex-direction: column;
    }
}

.hero-banner {
    align-self: start;
    min-width: fit-content;
    height: -webkit-fill-available;

    & .hero-banner-image {
        position: sticky;
        top: 0;

        height: 100vh;
        object-fit: cover;

        @media (width <= 800px) {
            position: initial;
            width: 100vw;
        }
    }
}

.content-container {
    flex-grow: 1;

    & .header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background: white;
        z-index: 2;

        & .menu {
            display: flex;
            flex-direction: row;
            justify-items: center;
            gap: 8px;
            list-style: none;
            justify-content: center;
            align-items: center;
        }
    }

    section {
        padding-inline: 4px;
    }


    & section > h2 {
        display: flex;
        justify-content: center;
    }

    .schedule {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-block-end: 24px;
    }


    & .dg-team {
        display: flex;
        flex-direction: column;

        .djs {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            gap: 12px;

            & .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                background: #303030;
                color: white;
                letter-spacing: 4%;
                border-radius: 4px;
                overflow: hidden;
                width: fit-content;
                padding: 12px;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

                & .avatar-container {
                    --size: 200px;
                    width: var(--size);
                    height: var(--size);
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: darkgray;

                    & .avatar {
                        width: 100%;
                        object-fit: scale-down;

                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.7)
                        }
                    }
                }

                & .tdj-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }


                @media (width <= 1100px) {
                    justify-content: space-between;
                    &:nth-child(odd) {
                        flex-direction: row;
                    }

                    &:nth-child(even) {
                        flex-direction: row-reverse;
                    }
                }
            }
            @media (width <= 1100px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(6,1fr);
            }
        }
    }

    & .registration {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
        padding-block-end: 24px;

    }

    & .registration-link {
        display: flex;
        align-items: center;
        height: 32px;
        width: fit-content;
        padding-block: 16px;
        padding-inline: 12px;
        background: red;
        color: white;
        text-decoration: none;
        border-radius: 4px;
    }
}
