@layer content-block {
    .content-block {
        container-name: content-block;
        container-type: inline-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        padding-inline: 16px;
        padding-block-end: 48px;
        min-height: 150px;

        & .content {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

        &:nth-child(odd) {
            background: var(--grayscale-white)
        }

        &:nth-child(even) {
            background: #f5f4f4
        }
        @media (width <=1300px) {
            grid-column: 1;
        }
    }

}
