@layer dj-card {
    .dj-card {
        gap: 16px;
        background: var(--grayscale-white);
        & .avatar-container {
            --size: 200px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            overflow: hidden;
            background-color: #f3f3f3;

            & .avatar {
                width: 100%;
                object-fit: scale-down;

                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.7)
                }
            }
        }

        & .tdj-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }


        @container content-block (width <= 830px) {
            & .avatar-container {
                --size: 35cqw;
            }
        }
    }
}
