@layer layout {
    :root {
        /*colors*/
        --primary-red: red;

        --grayscale-white: #f1f1f1;
        --grayscale-black: #0c0d10;
        --grayscale-light-gray: #f5f4f4;

        /*sizes*/
        --primary-heading: 2rem;
        --secondary-heading: 1.5rem;
        --sub-heading: 1.2rem;
        --text: 1rem;

        --dialog-open-close-button: 24px;

        /*structure*/
        --grid-columns-span: 7;


    }

    * {
        box-sizing: content-box;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
        background: var(--grayscale-black);
        @media screen and (prefers-reduced-motion: reduce) {
            scroll-behavior: auto;
        }
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: "Nunito", ui-system, sans-serif;
        color: var(--grayscale-black);

        &:has(dialog:modal) {
            overflow: hidden;
        }
    }

    .container {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 100px repeat(calc(var(--grid-columns-span) - 2), minmax(50px, auto)) 100px;

        background-color: var(--grayscale-white);

        @media (width <= 1300px) {
            grid-template-columns: 1fr;
            grid-template-rows: 100dvh auto;
        }
    }

    .title {
        font-weight: 800;
        font-size: var(--primary-heading);

        &.secondary {
            font-weight: 700;
            font-size: var(--secondary-heading);
        }
    }

    .strong {
        font-weight: 600;
    }
}
