@media print {
    /* Скрываем всё */
    .no-print {
        display: none !important;
    }

    body * {
        visibility: hidden;
    }


    /* Показываем только нужный блок и его содержимое */
    .printable, .printable * {
        visibility: visible;
        print-color-adjust: exact;
        page-break-inside: avoid;

        & a, button {
            visibility: hidden;
        }
    }

    /* Располагаем блок в самом верху страницы при печати */
    .printable {
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm;
        height: 297mm;

        & .schedule {
            padding: 8mm;
            background: white;
        }

    }
}
