@import "./card.css" layer(card);

@layer schedule-card {
    .schedule-card {
        width: 40cqw;
        aspect-ratio: 16 / 9;
        background: linear-gradient(45deg, var(--grayscale-white) 95%, var(--primary-red) 5%);

        & .card-content {
            display: flex;
            flex-direction: column;
            height: 100%;

            & .registration-link {
                align-self: center;
                margin-block-start: auto;
            }
        }

        &.night {
            background: linear-gradient(45deg,
            color-mix(in oklch longer hue, var(--grayscale-black), var(--grayscale-white) 15%) 95%,
            var(--primary-red) 5%);
            color: var(--grayscale-white)
        }


        @container content-block (width <= 830px) {
                width: 100cqw;
        }
    }
}
